body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
input[id^='driver'], select[id^='driver'] {
  width: 100%;
}
select[id^='driver'] {
  line-height: 26px;
  height: 26px;
}
.btn.row {
  margin-top: -4.2rem;
  padding-right: 3rem;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.btn.dropdown-toggle {
  height: 2.5em;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
}

span {
  font-size: 2em;
}
span .btn {
  font-size: 1em;
  color: #fff;
  background-color: #FF5200;
  padding: 0.2em;
  margin-left: 1em;
}
#my-alert {
  width: 20%;
  min-width: 36rem;
  height: auto;
  position: absolute;
  top: calc(50% - 20%);
  left: calc(50% - 18rem);
  border:2px solid orangered;
  border-radius: 4px;
  background-color:#fff;
}
#my-alert p {
  margin: 2rem;
  font-size:1.5em
}

#my-alert p:last-child{
  text-align: right;
}
.hide_alert {
  display:none;
}