
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.btn.dropdown-toggle {
  height: 2.5em;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
}

#driver_ability .dropdown-menu {
  width: 100%;
}